texturedMesh.obj
texturedMesh.obj.mtl
texture_1001.png
texture_1002.png
texture_1003.png
texture_1004.png
texture_1005.png
texture_1006.png
arequipa_iglesia_v2.gltf
*.obj
*.obj.mtl
*.glb
*.babylon
*.zip
*.tar
*.gz
